<<<<<<< HEAD
.buttons{
    text-align: center;
    .d-inline-block{
        margin-bottom: 8px;
        margin-right: 6px;      
    }
    p{
        margin-top: 4px;
        margin-bottom: 0;
        font-size: 13px;
        white-space: nowrap;
    }
=======
.buttons{
    text-align: center;
    .d-inline-block{
        margin-bottom: 8px;
        margin-right: 6px;      
    }
    p{
        margin-top: 4px;
        margin-bottom: 0;
        font-size: 13px;
        white-space: nowrap;
    }
>>>>>>> 64d67aca73e9be188c2c2b31073cc8a07ac31205
} 