<<<<<<< HEAD
.googlemap .card .card-block{
    padding: 0;
    height: calc(100vh - 260px);
}
.sebm-google-map-container {
  height: 100%;
=======
.googlemap .card .card-block{
    padding: 0;
    height: calc(100vh - 260px);
}
.sebm-google-map-container {
  height: 100%;
>>>>>>> 64d67aca73e9be188c2c2b31073cc8a07ac31205
}